.App {
  text-align: center;
}
.dogCard {
  background-color: rgb(36, 144, 216);
  display:inline-block;
  margin: 10px;
  padding: 10px
}
.dogPreview {
  background-color: rgb(36, 144, 216);
  /* display:inline-block; */
  width:150px;
  margin: 5px;
  padding: 5px
}
div {
  /* display:inline-block */
}
span {
  /* display:flex; */
  /* justify-content:space-between; */
}
.navbar {
  display:flex;
  justify-content:space-between;
}
/* .breederDivs {
  display:inline
} */


#flex-inline-block  {
  display:flex;
  flex-direction:row;

}
#flex-inline-block .saved-dogs {
  width: 100%;
  /* float: left; */
  /* padding: 0px; */
  border: 2px solid red;
}
#flex-inline-block .saved-dogs div{
  display:inline-block;
}
#flex-inline-block .request-dogs div {
    display:inline-block;
}
.dog-form {
  flex-direction:column;
}

.float-container{
  display:flex; 
  flex-direction:row;
}
.float-child {
  width: 100%;
  /* float: left; */
  padding: 0px;
  border: 2px solid red;
  display:inline-block;
}  

